<div class="sidebar">
  <div class="container sidebar">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.url }}">
          {{ site.title }}
        </a>
      </h1>
      {% if site.class %}
        <p class="lead">{{ site.class }}</p>
      {% else %}
        <p class="lead">{{ site.description }}</p>
      {% endif %}
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.url %} active{% endif %}" href="{{ site.url }}">Home</a>

      <a class="sidebar-nav-item" href="http://hickscte.com/outline/intro/">CTE Intro</a>
      <a class="sidebar-nav-item" href="http://hickscte.com/outline/tent/">Teen Entrepreneurship</a>
      <a class="sidebar-nav-item" href="http://hickscte.com/outline/key/">Keyboarding</a>
      <a class="sidebar-nav-item" href="http://hickscte.com/2014/10/29/fbla-school-store/">School Store</a>
      <a class="sidebar-nav-item" href="mailto:{{ site.email }}?subject=">Contact</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }} HicksCTE. All rights reserved.</p>
  </div>
</div>
