---
layout: default
title: CTE Intro
---

<div class="posts">
  {% for class in site.data.intro.term %}
  <div class="post">
    <h1 class="post-title"><a name="{{ class.number }}">
        Unit {{ class.class }} - {{ class.topic }}</a>
    </h1>    
 
    {% if class.standards %}
    <h2>Goals</h2>
    <ol>
      {% for standard in class.standards %}
      <li>{{ standard }}</li>
      {% endfor %}
    </ol>    
    {% endif %}

    {% if class.resources %}
    {% for resource in class.resources %}
    {% if resource.kind == "career" %}
      <h2>Career Summary</h2>
      <p class="message"><a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a> - <a href="http://b.socrative.com/login/student/">Socrative Form</a></p>
    {% endif %}
    {% endfor %}
    {% endif %}

    {% if class.resources %}
    <h2>Resources</h2>
    <ul>
      {% for resource in class.resources %}
        {% case resource.kind %}
        {% when 'career' %}
        {% when 'tw' %}
        <li><i class="fa fa-clock-o"></i> <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% when 'video' %}
        <li><i class="fa fa-video-camera"></i> <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% when 'wp' %}
        <li><i class="fa fa-pencil"></i> <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% when 'link' %}
        {% if resource.url %}
        <li><i class="fa fa-link"></i> <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% endif %}
        {% else %}
        {% if resource.url %}
        <li><i class="fa "></i> <a href="{{ resource.url }}" target="_blank">{{ resource.name }}</a></li>
        {% endif %}
        {% endcase %}
      {% endfor %}
    </ul>
    {% endif %}

    {% if class.deliverables %}
    <h2>Deliverables</h2>
    <ul>
      {% for deliverable in class.deliverables %}
      {% if deliverable.url %}
      <li><a href="{{ deliverable.url }}" target="_blank">{{ deliverable.name }}</a></li>
      {% else %}
      <li>{{ deliverable.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {% if class.blackDiamonds %}
    <h2>Black Diamonds</h2>
    <ul>
      {% for blackDiamond in class.blackDiamonds %}
      {% if blackDiamond.url %}
      <li><a href="{{ blackDiamond.url }}" target="_blank">{{ blackDiamond.name }}</a></li>
      {% else %}
      <li>{{ blackDiamond.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>