---
layout: default
title: CTE Intro
---

<div class="posts">
  {% for class in site.data.intro.term %}
  <div class="post">
    <h1 class="post-title"><a name="{{ class.number }}">
        Unit {{ class.class }} - {{ class.topic }}</a>
    </h1>    
 
    {% if class.standards %}
    <h2>Goals</h2>
    <ol>
      {% for standard in class.standards %}
      <li>{{ standard }}</li>
      {% endfor %}
    </ol>    
    {% endif %}

    {% if class.outline %}
      {% for item in class.outline %}
        {% for tag in item.tags %}
          {% if tag == "career" %}
            <h2>Career Summary</h2>
            <p class="message"><a href="{{ item.url }}" target="_blank">{{ item.name }}</a> - <a href="http://b.socrative.com/login/student/">Socrative Form</a></p>
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}

    {% if class.outline %}
    <h2>Outline</h2>
    <ul>
      {% for item in class.outline %}
      {% if item.url %}
      <li><a href="{{ item.url }}" target="_blank">{{ item.name }}</a>
      {% for tag in item.tags %}
      {% case tag %}
        {% when 'career' %}
        {% when 'video' %} <i class="fa fa-video-camera"></i>
        {% when 'link' %} <i class="fa fa-link"></i>
      {% endcase %}
      </li>
      {% else %}
      <li>{{ item.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {% if class.blackDiamonds %}
    <h2>Black Diamonds</h2>
    <ul>
      {% for blackDiamond in class.blackDiamonds %}
      {% if blackDiamond.url %}
      <li><a href="{{ blackDiamond.url }}" target="_blank">{{ blackDiamond.name }}</a></li>
      {% else %}
      <li>{{ blackDiamond.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  {% endfor %}
</div>