---
layout: default
---

 

{% if page.course == 'intro' %}
{% assign class_data = site.data.intro.term | where:"class", page.class %}
{% assign class = class_data | first %} 
<div class="post"> 
    <h1 class="post-title"><a name="{{ class.number }}">
        Unit {{ class.class }} - {{ class.topic }}</a>
    </h1>    
    <h2>Goals</h2>
    <ol>
      {% for standard in class.standards %}
      <li>{{ standard }}</li>
      {% endfor %}
    </ol>

    {% if class.career %}
    <h2>Career Summary</h2>
    <p class="message"><a href="{{ class.careerURL }}">{{ class.career }}</a></p>
    {% endif %}

    {% if class.deliverables %}
    <h2>Deliverables</h2>
    <ul>
      {% for deliverable in class.deliverables %}
      {% if deliverable.url %}
      <li><a href="{{ deliverable.url }}">{{ deliverable.name }}</a></li>
      {% else %}
      <li>{{ deliverable.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {% if class.blackDiamonds %}
    <h2>Black Diamonds</h2>
    <ul>
      {% for blackDiamond in class.blackDiamonds %}
      {% if blackDiamond.url %}
      <li><a href="{{ blackDiamond.url }}">{{ blackDiamond.name }}</a></li>
      {% else %}
      <li>{{ blackDiamond.name }}</li>
      {% endif %}
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
